<div class="sidebar" id="sidebar">
  <div class="about_me">
    <h3>Recent Posts</h3>
      {% for post in site.posts limit:5 %}
        <a href=" {{ post.url }} "> {{ post.title }} </a><br>
      {% endfor %}

    <br>
    <br>
    <br>
    <div class="about-me-sidebar">
      <p><span style="font-weight: bolder">Vance Faulkner</span> is a Ruby on
      Rails developer from Durham, NC</p>
      <a href="https://github.com/vpfaulkner"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/vancefaulkner"><i class="fa fa-linkedin-square"></i></a>
      <a href="mailto:vpfaulkner@gmail.com"><i class="fa fa-envelope-o"></i></a>
    </div>
  </div>
</div>
