<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="pusher">
      <div class="ui vertical masthead center aligned segment">
        <div class="ui container">
          <div class="ui large secondary menu">
            <a id="home" class="item" href="/">SIMPLE OBJECTS</a>
            <a class="right item" href="/playbook" >Playbook</a>
            <a class="item" href="/work" >Work</a>
            <a class="item" href="/technologies">Technologies</a>
            <a class="item" href="/about">About</a>
            <a class="item" href="/hire">Hire</a>
          </div>
        </div>
        <div id="content-container">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
