<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="sidebar">
      <a href="#top">Top</a>
      <a href="#work" >Work</a>
      <a href="#technologies">Technologies</a>
      <a href="#about">About</a>
      <a href="#hire">Hire</a>
    </div>
    <div id="main">
      <div id="top">
       <div id="hero">
        <h1>Web & Mobile Apps</h1>
        <p>Hello! My name is Vance, and I build world-class <strong>web and mobile</strong> apps.</p>
        <img src="/command.svg">
       </div>
      </div>
      <div id="work">
        <h2>Work</h2>
        <div>
          <h4>Consumer Mobile App for Controlling a Camping Lamp</h4>
          <a class="no-dec" href="https://developer.apple.com/ios/">
            <i title="ios" class="fab fa-3x fa-apple"></i>
          </a>
          <a class="no-dec" href="https://www.android.com/">
            <i class="fab fa-3x fa-android"></i>
          </a>
          <a class="no-dec" href="https://facebook.github.io/react-native/">
            <i class="fab fa-3x fa-react"></i>
          </a>
          <a class="no-dec" href="https://www.bluetooth.com/">
            <i class="fab fa-3x fa-bluetooth-b"></i>
          </a>
          <ul>
            <li>Built an iOS and Android mobile app to control a consumer camping
            lamp</li>
            <li>Designed the Bluetooth interface and worked directly with the
              China-based manufactuer to complete the hardware integration</li>
            <li>Collaborated heavily with a world-class design firm to refine and
              implement the UI and UX.</li>
          </ul>
        </div>
        <div>
          <h4>Consumer Mobile App for Sport Lifestyle Company</h4>
          <a class="no-dec" href="https://developer.apple.com/ios/">
            <i title="ios" class="fab fa-3x fa-apple"></i>
          </a>
          <a class="no-dec" href="https://www.android.com/">
            <i class="fab fa-3x fa-android"></i>
          </a>
          <a class="no-dec" href="https://facebook.github.io/react-native/">
            <i class="fab fa-3x fa-react"></i>
          </a>
          <ul>
            <li>Built an iOS and Android mobile app to control a consumer camping
            lamp</li>
            <li>Designed the Bluetooth interface and worked directly with the
              China-based manufactuer to complete the hardware integration</li>
            <li>Collaborated heavily with a world-class design firm to refine and
              implement the UI and UX.</li>
          </ul>
        </div>
        <div>
          <h4>Consumer Mobile App for Fortune 500 Auto Company</h4>
          <a class="no-dec" href="https://developer.apple.com/ios/">
            <i title="ios" class="fab fa-3x fa-apple"></i>
          </a>
          <a class="no-dec" href="https://facebook.github.io/react-native/">
            <i class="fab fa-3x fa-react"></i>
          </a>
          <ul>
            <li>Built an iOS and Android mobile app to control a consumer camping
            lamp</li>
            <li>Designed the Bluetooth interface and worked directly with the
              China-based manufactuer to complete the hardware integration</li>
            <li>Collaborated heavily with a world-class design firm to refine and
              implement the UI and UX.</li>
          </ul>
        </div>
        <div>
          <h4>Internal Web App for Publicy-Held Food Company</h4>
          <a class="no-dec" href="https://developer.apple.com/ios/">
            <i title="ios" class="fab fa-3x fa-apple"></i>
          </a>
          <a class="no-dec" href="https://facebook.github.io/react-native/">
            <i class="fab fa-3x fa-react"></i>
          </a>
          <ul>
            <li>Built an iOS and Android mobile app to control a consumer camping
            lamp</li>
            <li>Designed the Bluetooth interface and worked directly with the
              China-based manufactuer to complete the hardware integration</li>
            <li>Collaborated heavily with a world-class design firm to refine and
              implement the UI and UX.</li>
          </ul>
        </div>
        <div>
          <h4>Internal Web App for Publicy-Held Food Company</h4>
          <div class="icon-container">
            <img title="ruby" src="/icons/ruby.svg"></img>
            <a class="no-dec" href="https://facebook.github.io/react-native/">
              <i class="fab fa-3x fa-react"></i>
            </a>
          </div>
          <ul>
            <li>Built an iOS and Android mobile app to control a consumer camping
            lamp</li>
            <li>Designed the Bluetooth interface and worked directly with the
              China-based manufactuer to complete the hardware integration</li>
            <li>Collaborated heavily with a world-class design firm to refine and
              implement the UI and UX.</li>
          </ul>
        </div>
      </div>
      <div id="technologies">
        <h2>Technologies</h2>
        <h3>Front-End</h3>
        <p>React</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>JavaScript</p>
        <p>GraphQL</p>
        <p>Apollo</p>
        <p>Recompose</p>
        <p>Lodash / Lodash FP</p>
        <p>Babel</p>
        <p>Webpack</p>
        <p>Yarn</p>
        <p>NPM</p>
        <p>Prettier</p>
        <p>ESLint</p>
        <h3>Back-End</h3>
        <p>Ruby</p>
        <p>Ruby on Rails</p>
        <p>Elixir</p>
        <p>Phoenix</p>
        <p>Redis</p>
        <p>PostgreSQL</p>
        <p>MySQL</p>
        <p>MongoDB</p>
        <p>SQL</p>
        <p>Sidekiq</p>
        <h3>Mobile</h3>
        <p>React Native</p>
        <p>XCode</p>
        <p>iOS App Store</p>
        <p>iOS Test Flight</p>
        <p>Android Studio</p>
        <p>Android Play Store</p>
        <p>Bluetooth Low Energy</p>
        <p>App Center</p>
        <p>Hockey App</p>
        <p>Bugsnag</p>
        <p>Instabug</p>
        <p>AppSee</p>
        <h3>DevOps</h3>
        <p>Git</p>
        <p>GitHub</p>
        <p>Docker</p>
        <p>Docker Machine</p>
        <p>NGINX</p>
        <p>AWS</p>
        <p>Heroku</p>
        <p>Digital Ocean</p>
        <p>Nanobox</p>
        <p>Linux</p>
        <p>TravisCI</p>
        <p>Jenkins</p>
        <p>Codeship</p>
        <p>CircleCI</p>
        <p>Papertrail</p>
        <p>Rollbar</p>
        <p>Honeybadger</p>
        <h3>Development</h3>
        <p>Vim</p>
        <p>TMUX</p>
        <p>Zsh</p>
        <p>asdf</p>
        <h3>UI and UX</h3>
        <p>Sketch</p>
        <p>InVision</p>
        <p>Zepplin</p>
        <h3>Project Management</h3>
        <p>Slack</p>
        <p>Trello</p>
        <p>Asana</p>
        <p>JIRA</p>
        <p>Google Docs</p>
        <p>Zoom</p>
      </div>
      <div id="about">
        <h2>About</h2>
        <p>I’m Vance, and I love to solve problems. I crave new challenges, new ideas, and obstacles that require me to grow as an engineer.</p>
        <p>When not writing software, I am probably reading, with friends, or
        out running. My lovely wife, my 1-year old son, and I reside in Winston-Salem, North Carolina.</p>
        <img id="headshot" src="/headshot.jpg" />
      </div>
      <div id="hire">
        <h2>Hire</h2>
        <p>Interested in working with me? You can find me at <span id="c"></span> or on social media.</p>
        <a class="no-dec" href="https://www.linkedin.com/in/vancefaulkner/">
          <i class="fab fa-2x fa-linkedin"></i>
        </a>
        <a class="no-dec" href="https://github.com/vpfaulkner">
          <i class="fab fa-2x fa-github"></i>
        </a>
      </div>
    </div>
  </body>
</html>

<SCRIPT type="text/javascript">
  emailE = 'g' + 'mai' + 'l.com'
  emailE = ('vpfaulkner' + '@' + emailE)
  setTimeout(function(){
    document.getElementById('c').innerHTML = '<a href="mailto:' + emailE + '">' + emailE + '</a>'
  }, 1000)
</SCRIPT>
